<html>
    <head>
        <title>My Project</title>
    </head>
    <body>
        <header>
            <h1>You are in home</h1>
        </header>
        <main>
            {% comment %} lines 11-13 display the original pokemons information {% endcomment %}
            <h2>{{type}}</h2>
            <h3>{{name}}</h3>
            <img src="{{img}}"/>
            {% comment %} lines 15-18 iterate through the list of dictionaries and creates a picture and a label for each pokemon {% endcomment %}
            {% for poke in rest %}
                <img src="{{poke.img}}" />
                <p>{{poke.name}}</p>
            {% endfor %}
        </main>
    </body>
</html>